.header {
  height: 64px;
  max-height: 64px;
  display: flex;
  align-items: center;
  padding: 8px;

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
    width: 256px;
    min-width: 256px;
  }

  &__menu-button {
    margin-right: 16px;
    margin-left: 8px;
    width: 50px;
    height: 50px;
  }

  &__title {
    font-size: 22px;
    line-height: 48px;
    font-weight: 500;
    margin-left: 12px;
  }

  &__controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
  }

  &__controls-left {
    width: 50%;
    max-width: 420px;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__today-btn {
    color: #000000;
  }

  &__arrow-button {
    .material-icons {
      font-size: 18px;
    }

    .mat-icon {
      height: 19px;
      width: 16px;
    }
  }

  &__date {
    color: rgb(31, 31, 31);
    font-size: 22px;
    font-weight: 400;
  }

  &__controls-right {
    width: 50%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    padding-right: 12px;
  }

  &__search-button {
  }

  &__mode-select {
    height: 38px;
  }

  &__mode-select-panel {
    border-radius: 50px;
  }
  &__mode-select.mat-form-field {
    height: 38px;
    border: 1px solid #000000;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      height: 38px;
      display: flex;
      align-items: center;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
