<div class="info-card__header">
  <div class="info-card__controls">
    <button mat-icon-button class="info-card__edit-btn" (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button class="info-card__delete-btn" (click)="showConfirmation()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <button mat-icon-button class="info-card__close-btn" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="info-card">
  <div class="info-card__content">
    <div class="info-card__row">
      <div class="info-card__icon">
        <mat-icon>title</mat-icon>
      </div>
      <div class="info-card__text-content">
        <h4 class="info-card__title">{{ calendarEvent()?.title }}</h4>
      </div>
    </div>
    <div class="info-card__row">
      <div class="info-card__icon">
        <mat-icon>access_time</mat-icon>
      </div>
      <div class="info-card__text-content">
        <div class="info-card__date">
          <p class="info-card__date-text">{{ calendarEvent()?.date | date: 'MMMM dd, yyyy' }}</p>
          @if (calendarEvent()?.duration === 'fixed') {
            <div class="info-card__range">
              <p>{{ calendarEvent()?.startTime | lowercase }}</p>
              <p>-</p>
              <p>{{ calendarEvent()?.endTime | lowercase }}</p>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="info-card__row">
      <div class="info-card__icon">
        <mat-icon>subject</mat-icon>
      </div>
      <div class="info-card__text-content">
        <p class="info-card__description">{{ calendarEvent()?.description }}</p>
      </div>
    </div>
  </div>

  @if (deleteMode()) {
    <div class="info-card__delete-confirmation">
      <p class="info-card__confirmation-title">Are you sure you want to delete this event?</p>
      <div class="info-card__confirmation-buttons">
        <button mat-raised-button class="info-card__confirm-delete-btn" (click)="delete()">Delete</button>
        <button mat-raised-button class="info-card__cancel-delete-btn" (click)="closeConfirmation()">Cancel</button>
      </div>
    </div>
  }
</div>
